<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kaori Paysage allie la recherche esthétique, une palette végétale très large et les principes de sol vivant et de biodiversité pour créer des jardins où il fait bon vivre et facile à entretenir.">
    <meta name="keywords" content="paysage, paysagiste, saint brieuc, cotes d'armor, eco-paysagiste, permaculture, botanique, sol vivant, biodiversité, feng shui" />
    <meta name="author" content="Kaori Paysage">

    <meta property="og:image" content="https://www.kaori-paysage.fr/images/jardin-header_light.jpg" />

    <title>Kaori Paysage - Eco-paysagiste à Saint Brieuc, Côtes d'Armor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  </head>

  <body>
      <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
          <div class="slides"></div>
          <!--<h3 class="title"></h3>-->
          <a class="prev" style="color: #fff;">‹</a>
          <a class="next"style="color: #fff;">›</a>
          <a class="close"style="color: #fff;">×</a>
      </div>
      <header class="header">
          <span class="logo"></span>
          <h1>ECO-PAYSAGISTE<br>
          <span class="baseline">Saint Brieuc</span></h1>
          <h2>Racontez-nous le jardin que vous aimez...
            <br><br>...nous le réaliserons pour vous.
          </h2>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" class="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <div class="container">
        <div class="footer text-center lead">
          <p>
              Nos dernières réalisations : <a href="https://blog.kaori-paysage.fr" target="_blank">https://blog.kaori-paysage.fr</a>
          </p>
          <p>
             Nous contacter : <a class="orange" href="mailto:contact@kaori-paysage.fr">contact@kaori-paysage.fr</a>
          </p>
          <p>
              Nous suivre sur
              <a href="http://facebook.com/kaoripaysage" target="_blank">Facebook</a>
              et
              <a href="http://twitter.com/kaoripaysage" target="_blank">Twitter</a>
          </p>
          <p class="text-center copyright">
              © Kaori Paysage 2018
          </p>
        </div>
      </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
