<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kaori Paysage - Eco-paysagiste en Côtes d'Armor</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

      <header class="header">
          <span class="logo"></span>
          <h1>Eco-Paysagiste</h1>
          <h2>Racontez-nous le jardin que vous aimez...
            <br><br>...nous le réaliserons pour vous.
          </h2>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <div class="footer text-center lead">
        <p>
            Nos dernières réalisations sur le blog : <a href="https://blog.kaori-paysage.fr" target="_blank">https://blog.kaori-paysage.fr</a>
        </p>
        <p>
           Nous contacter : <a class="orange" href="mailto:contact@kaori-paysage.fr">contact@kaori-paysage.fr</a>
        </p>
        <p>Nous suivre sur
            <a href="http://facebook.com/kaoripaysage" target="_blank">Facebook
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
            </a> et
            <a href="http://twitter.com/kaoripaysage" target="_blank">Twitter
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
            </a>
        </p>
        <p class="text-center">
            © Kaori Paysage 2018
        </p>
      </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
